Repository CosmicMind/Motion, pull requests merged in 2018-09, with the labels that each got.

#50 Support extension
  Motion.podspec
  Motion.xcodeproj/project.pbxproj
  Sources/Application.swift
  Sources/Extensions/Motion+UIViewController.swift
  Sources/Transition/MotionTransition+Complete.swift
Labels: enhancement, feature request, motion

#51 use Application.shared to keep extensions happy
  Sources/Transition/MotionTransition+Complete.swift
Labels: motion

#55 Fixed UITabBarController had userinteraction enabled during transition
  Sources/Transition/MotionTransition+Complete.swift
  Sources/Transition/MotionTransition+Start.swift
Labels: fix, motion
